{% extends 'base.html.twig' %}
{% block body %}
    {% block navbar %}
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        SK-RECRUIT ANSWER
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="https://github.com/szymnn/" target="_blank" class="nav-link px-2 text-white">Github</a></li>
                        <li><a href="https://pl.linkedin.com/in/szymon-kostrubiec-3694b019a" target="_blank" class="nav-link px-2 text-white">Linkedin</a></li>
                    </ul>

                </div>
            </div>
        </header>
    {% endblock %}
{% endblock %}